<html>
	<head>
		<script language = "javascript">
			balance = {{ balance }}

			reload = function() {
				window.location.reload(1);
			}
			setTimeout(reload, 10 * 1000);

			balance_fetcher = function() {
				balance = {{ balance }}
				setTimeout(balance_fetcher, 10 * 1000)
			}
			setTimeout(balance_fetcher, 10 * 1000)

			clock_updater = function() {
				var time = new Date().toLocaleTimeString()
				document.getElementById('clock').innerHTML = '<h1>' + time + '</h1>'
				setTimeout(clock_updater, 1000);
			} 
			setTimeout(clock_updater, 1);

			balance_change = function() {
				document.getElementById('balance').innerHTML = 'Available: $' + balance
			}
		</script>
		<title>Integrator</title>
	</head>
	<body>
		<center>
			<h3>Integrator Alpha</h3>
			<table>
				<td width = 600>
					<center>
						<h2>{{ user }}'s NECU Account Details</h2>
						<b>account / available / total</b><br>
						{{ data }}
						<div id = 'balance' style = 'font-size: 56pt;'>Available: ${{ balance }}</div>

						<h4>Forex data (equivalents):</h4>
						<b>{{ forex_data }}</b>
					</center>
				</td>
				<td width = 600>
					<center>
						<div id = 'clock' style = 'font-size: 42pt;'><div>
					</center>
				</td>
			</table>
			<h5>Total requests: {{ rcount }} | Frame {{ fcount }}</h5>
		</center>
	</body>
</html>
