<html>
	<head>
		<script language = "javascript">
			setTimeout(function() {
				window.location.reload(1);
			}, 10 * 1000);

			balance_fetcher = function() {
				setTimeout(balance_fetcher, 10000)
			}
			setTimeout(balance_fetcher, 10000)

			clock_updater = function() {
				var time = new Date().toLocaleTimeString()
				document.getElementById('clock').innerHTML = '<h1>' + time + '</h1>'
				setTimeout(clock_updater, 1000);
			} 
			setTimeout(clock_updater, 1);
		</script>
	</head>
	<body>
		<center>
			<h3>Integrator Alpha</h3>
			<table>
				<td width=400>
					<center>
						<h2>{{ user }}'s NECU Account Details</h2>
						{{ data }}
						<div id = 'balance'><h1>Available: {{ balance }}</h1></div>

						<h4>Forex data (equivalents):</h4>
						{{ forex_data }}
					</center>
				</td>
				<td width=400>
					<center>
						<div id = 'clock'><div>
					</center>
				</td>
			</table>
			<h5>Total requests: {{ rcount }} | Frame {{ fcount }}</h5>
		</center>
	</body>
</html>
